extends ../../../templates/master.pug

block content

    h3.title View the record of a Specific Vehicle
    
            //-each vehicle in tblVehicle
                li= `${vehicle.id} - ${vehicle.make} - ${vehicle.model} - ${vehicle.year}`
    <table border = "3">
            thead
                tb
                    th ID
                    th Make
                    th Model 
                    th Year
                    th Plate Number
                    th Condition
                each vehicle in tblVehicle
                    tr
                        td= vehicle.id
                        td= vehicle.make
                        td= vehicle.model
                        td= vehicle.year
                        td= vehicle.plateNo
                        td= vehicle.condi
    p                    
        h2 Do you want to edit this record? 
            a(class = "button" , href = 'edit') yes